@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #36393f;
  --channelsbg: #2f3136;
  --serversbg: #202225;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channeltextarea-background: #40444b;
}

body {
  color: var(--text-normal);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @layer components {
  .link {
      @apply cursor-pointer font-semibold text-white hover:underline text-base;
  }
  .heroButton {
      @apply  bg-white w-60 font-normal flex items-center justify-center rounded-full p-4 text-lg hover:shadow-2xl
       focus:outline-none transition duration-200 ease-in-out
  }
  .server-default {
      @apply h-12 bg-discord_serverbg rounded-full flex justify-center items-center cursor-pointer hover:rounded-2xl
      transition-all duration-100
  }
  .icon {
      @ap h-6 text-[#b9bbbe] cursor-pointer hover:text-[#dcddde];
  }
} */

